@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: hsl(218, 23%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.advice-section {
    background-color: hsl(217, 19%, 24%);
    padding: 20px;
    border-radius: 10px;
}

.advise-id {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 20px 0;
}

.the-advise {
    color: hsl(193, 38%, 86%);
    font-size: 28px;
    padding: 20px 0 30px 0;
}

picture > img {
    width: 100%;
    padding-bottom: 30px;
}

.advise-button {
    background-color: hsl(150, 100%, 66%);
    padding: 20px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: -32px;
    cursor: pointer;
}

.advise-button:hover {
    box-shadow: 0px 0px 20px hsla(150, 100%, 66%, 0.8);
}

.advise-button img {
    display: flex;
}

@media (min-width: 768px) {
    main {
        width: 100%;
        max-width: 700px;
    }

    .advice-section {
        padding: 40px;
    }
}